/* nastaveni input v modalnich oknech */
body {
    padding-top: 10px;
}

.modal input {
    padding: 8px;
    width: 100%;
}

/* nastaveni buttnu v modalnich oknech */
.modal button {
    margin: 8px 0;
    padding: 8px;
    width: 100%;
}
