
body {
    padding-top: 10px;
}
/* nastaveni input v modalnich oknech */
.modal input {
    padding: 8px;
    width: 100%;
}

/* nastaveni buttnu v modalnich oknech */
.modal button {
    margin: 8px 0;
    padding: 8px;
    width: 100%;
}
/*      musi byt ve style aby prekryl bootstrap
.clanek {
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: inherit;
    text-align: center;
}
.clanek:hover {
    background-color: lightgray;
}*/